@page
@model final_hotel.Pages.AboutModel
@{
}

<div  class="text-center full_bg hyatt_p_cont ">
    <h1  class="display-4 hyatt_p" >HYATT</h1>
    <p  class="booking"><a class="booking-link" href="/BookingDate">New booking</a> | <a class="booking-link" href="/login">Your booking</a></pHYATT>
</div>

<section>
    <h1>About HYATT</h1>
    <p style="max-width: 400px;">
        Hyatt Hotels Corporation, commonly known as Hyatt Hotels & Resorts, is an American multinational hospitality company headquartered in the Riverside Plaza area of Chicago that manages and franchises luxury and business hotels, resorts, and vacation properties. 
    </p>
</section>   
<div class="container">
    <div class="row">
        <div  class="col-md img-col " >
            <img width="100%" src="img/pool.png" alt="">
        </div>
        <div class="col-md " >
            <h1>OUR story</h1>
            <p> Hyatt was founded by Jay Pritzker in 1957 when he purchased the Hyatt House motel adjacent to the Los Angeles International Airport. Over the following decade, Jay Pritzker and his brother, Donald Pritzker, working together with other Pritzker family business interests, grew the company into a North American management and hotel ownership company, which became a public company in 1962. In 1968, Hyatt International was formed and subsequently became a separate public company. Hyatt Corporation and Hyatt International Corporation were taken private by the Pritzker family business interests in 1979 and 1982, respectively. On December 31, 2004, substantially all of the hospitality assets owned by Pritzker family business interests, including Hyatt Corporation and Hyatt International Corporation, were consolidated under a single entity, now Hyatt Hotels Corporation.</p>
        </div>
    </div>
</div>  