@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body{
    background-image: url("/img/hotel.png");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 60px;
    }
</style>
<div style="text-align:center;" class="text-center full_bg hyatt_container">
    <h1 style="text-align:center;" class="display-4 hyatt" >HYATT</h1>
    <p  style="text-align:center;" class="booking"><a class="booking-link" href="/Bookingdate">New booking</a> | <a class="booking-link" href="/Login">Your booking</a></pHYATT>
</div>
